<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-title>
      Wifi Gratis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Centro')">1. Centro</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Arganzuela')">2. Arganzuela</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Retiro')">3. Retiro</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Salamanca')">4. Salamanca</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Chamartín')">5. Chamartín</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Tetuan')">6. Tetuán</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Chamberi')">7. Chamberí</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Fuencarral-ElPardo')">8. Fuencarral-El Pardo</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Moncloa-Aravaca')">9. Moncloa-Aravaca</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Latina')">10. Latina</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Carabanchel')">11. Carabanchel</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Usera')">12. Usera</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('PuenteDeVallecas')">13. Puente de Vallecas</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Moratalaz')">14. Moratalaz</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('CiudadLineal')">15. Ciudad Lineal</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Hortaleza')">16. Hortaleza</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Villaverde')">17. Villaverde</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('VillaDeVallecas')">18. Villa de Vallecas</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Vicalvaro')">19. Vicálvaro</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('SanBlas-Canillejas')">20. San Blas-Canillejas</ion-button>
      <ion-button expand="block" [routerLink] = "['/lista-sitios']" (click)="actualizaDistrito('Barajas')">21. Barajas</ion-button>
  </div>
</ion-content>
